/* =================ROOT========================*/
:root {
    --sedanCard-bg-color: hsl(31, 77%, 52%);
    --suvCard-bg-color: hsl(184, 100%, 22%);
    --luxCard-bg-color: hsl(179, 100%, 13%);
    --paragraph: hsla(0, 0%, 100%, 0.75);
    --bg-color: hsl(0, 0%, 95%);
}
/* =================ROOT========================*/

/* =================RESETS========================*/

* {
    box-sizing: border-box;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* =================RESETS========================*/

body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 1.1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color);
    position: relative;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
}

.car-card:first-child {
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
}

/* .car-card:last-child would not work here?? */
.car-card:nth-child(3) {
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
}

.car-card {
    padding: 3em;
    max-width: 18rem;
    color: white;
}

.car-card:hover {
    animation: grow .1s linear forwards;
    border-radius: .5em;
    box-shadow:0 0 5px 0 hsl(0, 0%, 45%);

}

.car-card:first-child:hover {
    animation: grow-left .1s linear forwards;
    box-shadow:0 0 5px 0 hsl(0, 0%, 45%);
}

.car-card:nth-child(3):hover {
    animation: grow-right .1s linear forwards;
    box-shadow:0 0 5px 0 hsl(0, 0%, 45%);
}

.sedan {
    background-color: var(--sedanCard-bg-color);
}

.sedan button {
    color: var(--sedanCard-bg-color);
}

.suv {
    background-color: var(--suvCard-bg-color);
}

.suv button {
    color: var(--suvCard-bg-color);
}

.lux {
    background-color: var(--luxCard-bg-color);
}

.lux button {
    color: var(--luxCard-bg-color);
}

.car-img-container,
.title,
.info,
.learn-more {
    margin: 1em 0;
}

.title {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: inherit;
}

.learn-more {
    margin-top: 5em;
    padding: 1em 2em;
    border-radius: 999999px;
    background-color: white;
    border: none;
}

.learn-more:hover {
    color: white;
    background-color: inherit;
    outline: 1px solid white;
    cursor: pointer;
}

@keyframes grow {
    100% {
        transform: scale(1.05);
        box-shadow:0 0 5px 0 hsl(0, 0%, 45%);
    }
}

@keyframes grow-left {
    100% {
        transform: scale(1.05);
        transform-origin: right;
    }
}

@keyframes grow-right {
    100% {
        transform: scale(1.05);
        transform-origin: left;
    }
}




/* Frontend Mentor Footer */

.attribution { 
    font-size: 11px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
}

.attribution a {
    color: var(--sedanCard-bg-color);
    }


@media (max-width: 800px) {
    .main-container {
        flex-direction: column;
        margin: 3em 0;
    }

    .attribution {
        position: absolute;
        bottom: 5px;
    }

    .car-card:first-child {
        border-top-right-radius: .5em;
        border-bottom-left-radius: 0;
    }

    .car-card:first-child:active {
        animation: grow .1s linear forwards;
        transform-origin: bottom;
        border-radius: .5em;
    }

    .car-card:nth-child(3) {
        border-bottom-left-radius: .5em;
        border-top-right-radius: 0;
    }

    .car-card:nth-child(3):active {
        animation: grow .1s linear forwards;
        transform-origin: top;
        border-radius: .5em;
    }


}
